bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.vscode/
*.pdb
*.cache
*.log

*.nupkg
*.snupkg
*.nuspec
packages/
project.lock.json
project.fragment.lock.json
artifacts/

appsettings.Development.json
appsettings.Local.json
*.db
*.sqlite
*.mdf
*.ldf

node_modules/
pnpm-debug.log*

# =====================
# Environment files
# =====================
.env
.env.local
.env.*.local